.card {
    background-color: var(--color06);
    display: flex;
    gap: 2rem;
    border-radius: 1.6rem;
    padding: 2.4rem;
    position: relative;
    box-sizing: border-box;
}
.card__image {
    border-radius: 0.8rem;
    min-width: 13rem;
    width: 13rem;
    height: 12rem;
    object-fit: cover;
}
.cardRight__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cardRight__topWrapper {
}
.card__titleWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__title {
    font-size: var(--headline);
    font-weight: var(--semibold);
    font-weight: bold;
    color: var(--colorAccent);
}
.card__subtitle {
    font-size: var(--text2);
    font-weight: var(--medium);
    color: var(--color02);
}
.cardRight__bottomWrapper {
}
.card__city {
    font-size: var(--caption);
    font-weight: var(--medium);
    color: var(--color03);
}
.dropdown__wrapper {
    /* position: absolute;
    right: 2.4rem;
    top: 3.4rem; */
}
.dots {
    width: 2.4rem;
    height: 2.4rem;
}
.dots:hover {
    cursor: pointer;
}
.dots svg g path {
    transition-property: all;
    transition-duration: 500ms;
}

@media (max-width: 800px) {
    .card {
        flex-direction: column;
        padding: 1.6rem;
    }
    .card__image {
        width: 100%;
    }
    .card__city {
        font-weight: var(--semibold);
    }
}
