.dropdown {
    position: absolute;
    z-index: 1;
    background-color: var(--color06);
    box-shadow: 0px 0px 2px #5a5a5a;
    border-radius: 1.2rem;
    padding: 1.2rem;
}
.dropdown__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.dropdown__item {
    font-size: var(--text2);
}
.dropdown__item:hover {
    color: var(--colorAccent);
    cursor: pointer;
}
