.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}
.header {
    background-color: var(--color06);
    padding: 1.5rem;
    height: 5.6rem;
}
.wrapper {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.header__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.logo {
}
.logo__image {
}
.logo__text {
    font-size: var(--title);
}
.headerActions {
    gap: 0.4rem;
}
.headerActions__wrapper {
    gap: 2rem;
}
.like {
    height: 2.4rem;
}
.notification {
    height: 2.4rem;
}
.user {
    gap: 0.8rem;
}
.user__image {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    object-fit: cover;
}
.user__name {
    font-size: var(--text2);
    font-weight: var(--medium);
    color: var(--color02);
}

@media (max-width: 1160px) {
    .container {
        padding: 0 1.6rem;
    }
}

@media (max-width: 800px) {
    .headerActions {
        display: none;
    }
}
